::-webkit-scrollbar {
    width: 30px;
    background: #ddd;
}
 
::-webkit-scrollbar-track {
    background-color: #333;
    width: 30px;
    padding:5px;
   border-left: 16px solid #555;
    border-left-style: ridge;
}
 
::-webkit-scrollbar-thumb {
    background-color: black;
    width:15px;
    border-top: none;
    border-bottom: none;
    border-left: 16px solid #555;
    /*border-left: 16px solid #333;*/
    border-left-style: ridge;
    margin-top: 5px;
    background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
}


@font-face {
  font-family: zoneMedium;
  src: url(Neogrey-z0ne-MediumTTF.ttf);
}


body {
  background-image: url("leaderboard_BG.jpg");
  font-family: zoneMedium;
  background-repeat: repeat-y;
}


.leaderboard-title {
  background-color: rgba(0,0,0, 0.5);
  margin-bottom: 3%;
  padding-bottom: 1%;
  padding-top: 2%;
}

.leaderboard-title img {
  height: auto;
  width: 90%;
  max-height: 170px;

}

#leaderboard {
  max-height:410px;
  background: #101025;
  overflow-y: scroll;
  overflow-x:hidden;
  padding: 0px;
  border: 16px solid #555;
  border-style:ridge;
  box-shadow: 6px 7px 10px 3px rgba(2, 2, 2, 0.68);
}

#leaderboard .table {
  color: #9999cc;
  background: #101025;
  box-shadow: 6px 7px 10px 3px rgba(2, 2, 2, 0.68);
  margin:0px;

}

#leaderboard .table>tbody>tr, .table>tfoot>tr{
  border-bottom: 16px solid #555;
  border-bottom-style: ridge;
}


#leaderboard .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: none;
  /*width: 20%;*/
}

#leaderboard table tr:last-child {
  border-bottom: none;
}

#leaderboard tr:nth-child(even) {
    background-color: #312F47;
}

#leaderboard .player-icon {
  width: 20%;
  /*border-radius: 50px;*/
}


#leaderboard img {
  width: 25%;
  border-radius: 50px;
}

.info-box {
  background: white;
  border-radius: 10px;
  margin-top: 6%;
  padding-bottom: 2%;
}

.go-to-signup, .go-to-login {
  padding: 1%;
}

.login, .signup, .post-signup, .leaderboard-title, #leaderboard, .signup-or-login {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  /* define mobile specific styles come here */
  #leaderboard {
    max-height:700px;
    overflow-y: auto;
  }

  #leaderboard table {
    font-size: 22px;
  }

}

